* {
  box-sizing: border-box;
}

/* html:focus-within {
  scroll-behavior: smooth;
} */

body {
  height: 100vh;
  margin: 0;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}
